{{ $data := .pages }}
<div class="my-auto">
      {{ $professional := where $data "type" "eq" "professional" }}
      {{ if gt (len $professional) 0 }}
      <h3>Professional</h3>
      {{ end }}

      {{ range sort $professional "start" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">{{ .institute | markdownify }}, {{ .department | markdownify }}</h4>
          <div class="subheading mb-0">{{ .role }}</div>
          <div>{{ .location | markdownify }}</div>
          <p>{{ .description | markdownify }}</p>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">
            {{ time.Format "02-01-2006" .start }} -
            {{ if .end }}
              {{ time.Format "02-01-2006" .end }}
            {{ else }}
              present
            {{ end }}
          </span>
        </div>
      </div>
      {{ end }}

      {{ $visit := where $data "type" "eq" "visit" }}
      {{ if gt (len $visit) 0}}
      <h3>Research visits</h3>
      {{ end }}

      {{ range sort $visit "start" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">{{ .institute | markdownify }}</h4>
          <div class="subheading mb-0">{{ .role }} (visiting {{ .visiting }})</div>
          <div>{{ .location | markdownify }}</div>
          <p>{{ .description | markdownify }}</p>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">
            {{ time.Format "02-01-2006" .start }} -
            {{ time.Format "02-01-2006" .end }}
            ({{ .duration }})
          </span>
        </div>
      </div>
      {{ end }}

      {{ $voluntary := where $data "type" "eq" "voluntary" }}
      {{ if gt (len $voluntary) 0}}
      <h3>Voluntary</h3>
      {{ end }}

      {{ range sort $voluntary "start" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">{{ .organization | markdownify }}</h4>
          <div class="subheading mb-0">{{ .role }}</div>
          <div>{{ .location | markdownify }}</div>
          <p>{{ .description | markdownify }}</p>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">
            {{ time.Format "02-01-2006" .start }} -
            {{ if .end }}
              {{ time.Format "02-01-2006" .end }}
            {{ else }}
              present
            {{ end }}
          </span>
        </div>
      </div>
      {{ end }}
 </div>
