{{ $data := .pages }}
<div class="my-auto">
    {{ $theses := where $data "entry-type" "eq" "thesis" }}
    {{ if gt (len $theses) 0}}
    <h3>Theses</h3>
    {{ range sort $theses "description.date" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .description.url }}
                {{ .description.url }}
              {{ else if .description.doi }}
                https://doi.org/{{ .description.doi }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .description.title | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">
            <i>
              {{ .description.school | markdownify }}, {{ .description.degree | markdownify }} ({{ time.Format "2006" .description.date }})
            </i>
          </div>
          <div></div>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">{{ .description.author }}</span>
        </div>
      </div>
      {{ partial "recordDetails.html" (dict "title" .description.title "text" .description.abstract "image" .description.image "imageCaption" .description.imageCaption "url" (or .description.url (cond (ne .description.doi nil) (printf "https://doi.org/%s" .description.doi) "")) "label" "Abstract") }}
      {{ end }}
    {{ end }}

    {{ $unpublisheds := where $data "entry-type" "eq" "unpublished" }}
    {{ if gt (len $unpublisheds) 0}}
    <h3>Pre-prints</h3>
    {{ range sort $unpublisheds "description.year" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .description.url }}
                {{ .description.url }}
              {{ else if .description.doi }}
                https://doi.org/{{ .description.doi }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .description.title | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">
            <i>
            {{ if .description.eprint }}
              {{ .description.eprint | markdownify }}
            {{ end }}
            </i>
          </div>
          <div></div>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">{{ .description.author }}</span>
        </div>
      </div>
      {{ partial "recordDetails.html" (dict "title" .description.title "text" .description.abstract "image" .description.image "imageCaption" .description.imageCaption "url" (or .description.url (cond (ne .description.doi nil) (printf "https://doi.org/%s" .description.doi) "")) "label" "Abstract") }}
      {{ end }}
    {{ end }}

    {{ $articles := where $data "entry-type" "eq" "article" }}
    {{ if gt (len $articles) 0}}
    <h3>Peer-reviewed journal articles</h3>
    {{ range sort $articles "description.year" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .description.url }}
                {{ .description.url }}
              {{ else if .description.doi }}
                https://doi.org/{{ .description.doi }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .description.title | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">
            <i>{{ .description.journal | markdownify }}</i>,
            <b>{{ .description.volume | markdownify }}</b>
             {{ if .description.issue }}
                ({{ .description.issue | markdownify }}),
                {{ if .description.pages }}
                  {{ .description.pages | markdownify  }}
                {{ end }}
            {{ end }}
            ({{ .description.year | markdownify  }})
          </div>
          <div></div>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">{{ .description.author }}</span>
        </div>
      </div>
      {{ partial "recordDetails.html" (dict "title" .description.title "text" .description.abstract "image" .description.image "imageCaption" .description.imageCaption "url" (or .description.url (cond (ne .description.doi nil) (printf "https://doi.org/%s" .description.doi) "")) "label" "Abstract") }}
      {{ end }}
    {{ end }}

    {{ $incollections := where $data "entry-type" "eq" "incollection" }}
    {{ if gt (len $incollections) 0}}
    <h3>Book chapters</h3>
    {{ range sort $incollections "description.year" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .description.url }}
                {{ .description.url }}
              {{ else if .description.doi }}
                https://doi.org/{{ .description.doi }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .description.title | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">
            In: {{ .description.editor | markdownify }} (Eds.),
            <i>{{ .description.booktitle | markdownify }}</i>,
            {{ if .description.pages }}
              pp. {{ .description.pages | markdownify  }}
            {{ end }}
            ({{ .description.year | markdownify  }})
          </div>
          <div></div>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">{{ .description.author }}</span>
        </div>
      </div>
      {{ partial "recordDetails.html" (dict "title" .description.title "text" .description.abstract "image" .description.image "imageCaption" .description.imageCaption "url" (or .description.url (cond (ne .description.doi nil) (printf "https://doi.org/%s" .description.doi) "")) "label" "Abstract") }}
      {{ end }}
    {{ end }}

    {{ $proceedings := where $data "entry-type" "eq" "inproceeding" }}
    {{ if gt (len $proceedings) 0}}
    <h3>Conference proceedings</h3>
    {{ range sort $proceedings "description.year" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .description.url }}
                {{ .description.url }}
              {{ else if .description.doi }}
                https://doi.org/{{ .description.doi }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .description.title | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">
            <i>{{ .description.booktitle | markdownify }}, {{ .description.series | markdownify }}</i>,
            <b>{{ .description.volume | markdownify }}</b>
              {{ if .description.number }}
                ({{ .description.number | markdownify }}),
              {{ end }}
              {{ if .description.pages }}
                {{ .description.pages | markdownify  }}
              {{ end }}
              ({{ .description.year | markdownify  }})
          </div>
          <div></div>
        </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">{{ .description.author }}</span>
        </div>
      </div>
      {{ partial "recordDetails.html" (dict "title" .description.title "text" .description.abstract "image" .description.image "imageCaption" .description.imageCaption "url" (or .description.url (cond (ne .description.doi nil) (printf "https://doi.org/%s" .description.doi) "")) "label" "Abstract") }}
      {{ end }}
    {{ end }}

 </div>
