{{ $data := .Scratch.Get "pages" }}
<div class="my-auto">
  {{ range $data }}
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">
          <a href = "
              {{ if .url }}
                {{ .url }}
              {{ else }}
                {{.}}
              {{ end }}"
              >
              {{ .name | markdownify }}
            </a></h4>
          <div class="resume-content">
            {{ .description | markdownify }}
          </div>
          <div class="resume-content">
            <b>Source(s)</b>:
            <a href = "
              {{ if .url }}
                {{ .url }}
              {{ else }}
                {{.}}
              {{ end }}"
              >
              GitHub
            </a>
            {{ if .url }}
            |
            <a href="https://doi.org/{{ .doi }}">DOI</a>
            {{ end }}
          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ .role }}</span>
        </div>
      </div>
      {{ end }}
 </div>
