{{ $data := .pages }}

<div class="my-auto">
    {{ $PHD := where $data "level" "PhD" }}
    {{ if gt (len $PHD) 0}}
    <h3>PhD courses</h3>

    {{ range sort $PHD "start" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .url }}
                {{ .url }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .course | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">{{ .university | markdownify }}</div>
        <div class="resume-content">
          <b>Role</b>: {{ .role }}<br>
        </div>
      </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">
            {{ time.Format "2006" .start }} - 
            {{ time.Format "2006" .end }}
            ({{ .duration }})
          </span>
        </div>
      </div>
      {{ end }}
    {{ end }}
</div>

<div class="my-auto">
    {{ $MSCs := where $data "level" "MSc" }}
    {{ if gt (len $MSCs) 0}}
    <h3>Master courses</h3>

    {{ range sort $MSCs "start" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .url }}
                {{ .url }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .course | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">{{ .university | markdownify }}</div>
        <div class="resume-content">
          <b>Role</b>: {{ .role }}<br>
        </div>
      </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">
            {{ time.Format "2006" .start }} - 
            {{ time.Format "2006" .end }}
            ({{ .duration }})
          </span>
        </div>
      </div>
      {{ end }}
    {{ end }}
</div>

<div class="my-auto">
    {{ $BSCs := where $data "level" "BSc" }}
    {{ if gt (len $BSCs) 0}}
    <h3>Bachelor courses</h3>

    {{ range sort $BSCs "start" "desc" }}
      <div class="resume-item d-flex flex-column flex-md-row mb-3">
        <div class="resume-content me-auto">
          <h4 class="mb-0">
            <a href = "
              {{ if .url }}
                {{ .url }}
              {{ else }}
                #
              {{ end }}"
              >
              {{ .course | markdownify }}
            </a>
          </h4>
          <div class="subheading mb-0">{{ .university | markdownify }}</div>
        <div class="resume-content">
          <b>Role</b>: {{ .role }}<br>
        </div>
      </div>
        <div class="resume-date text-md-end">
          <span class="text-primary">
            {{ time.Format "2006" .start }} - 
            {{ time.Format "2006" .end }}
            ({{ .duration }})
          </span>
        </div>
      </div>
      {{ end }}
    {{ end }}
</div>
